¿Cuántos usuarios son nativos en un idioma que no sea español? (⭐)

In [ ]:
import pandas as pd

In [ ]:
lenguajes_original = pd.read_csv("languages.csv")

In [ ]:
lenguajes_original.columns = ["Id_usuario", "Codigo_idioma", "Nivel_idioma"]

Veo si hay celdas del tipo NaN en Codigo_Idioma.

Filtro los datos que no necesito, quedandome con los que no hablan español y son Nativos de su idioma

In [ ]:
lenguajes_filtrados = lenguajes_original[(lenguajes_original['Codigo_idioma'] != "es") & (lenguajes_original['Nivel_idioma'] == 'N')]

Agrupo los datos por Codigo_idioma y cuento la cantidad de usuarios.

In [ ]:
agrupados_idioma = lenguajes_filtrados.groupby(["Codigo_idioma"])

In [ ]:
agrupados_idioma = agrupados_idioma.agg({"Id_usuario" : 'count'})

In [ ]:
agrupados_idioma = agrupados_idioma.rename(columns={"Id_usuario":"Cantidad_usuarios"})

In [ ]:
agrupados_idioma

               Cantidad_usuarios
Codigo_idioma
aln                            2
an                             2
ar                            19
arn                            1
ary                            1
...                          ...
wuu                            1
yue                            6
zh                            39
zh-Hans-CN                     3
zza                            1

[112 rows x 1 columns]

In [ ]:
agrupados_idioma = agrupados_idioma.reset_index()

Cuento la cantidad de usuarios que son nativos de un lenguaje que no es español

In [ ]:
agrupados_idioma.Cantidad_usuarios.sum()

2770

Aclaracion: No se consideraron los usarios que no tienen codigo de idioma ya que no se sabe su region